# Ignore everything
*

# Unignore rules
!requirements.txt
!*.cpp
!*.h
!README.md
!orbit_sim_cli_reference.md
!orbital_mechanics_engine_cli_reference.md
!.gitignore
!*.py
!*.gif
!src/
!src/**
!include/
!include/**
!results/
!results/**
!systems/
!systems/**
!external
!external/**
!shaders
!shaders/**
!plotting_scripts
!plotting_scripts/**/
!docs
!docs/**
!.github/
!.github/**
!CMakeLists.txt
!Makefile
!.clang-format